/* GroupBegin Default */
body:before {
  content: "320";
}

.show320 {
  display: block;
}

.hide320 {
  display: none;
}

/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Footer */
/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon::before {
  top: 6px;
  font-size: 56px;
}

/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */