/* GroupBegin Global */
body:before {
  content: "480";
}

.show480 {
  display: block;
}

.hide480 {
  display: none;
}

.content-wrap {
  padding: 0 24px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.rs-menu-group.quicklinks {
  display: block;
}

.nav-section.right {
  margin-left: 0;
}

.mystartbar {
  height: auto;
}
.mystartbar .content-wrap {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-section.left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
}

.nav-section.right {
  padding-left: 0;
  margin-left: 0;
  height: 49px;
}
.nav-section.right::before {
  -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

.nav-group.left {
  display: none;
}

#cs-ab #ab-dropdown {
  left: auto;
  right: -50px;
}

#cs-ar {
  display: none;
}

#cs-ar-mobile {
  height: 48px;
  background: #FFDD00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#cs-ar-mobile span {
  color: #221F1F;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.3125rem;
}
#cs-ar-mobile span::after {
  color: #221F1F;
}
#cs-ar-mobile #ar-dropdown,
#cs-ar-mobile #ar-dropdown-mobile {
  top: 100%;
}

#gb-logo img {
  max-width: 142px;
  max-height: 92px;
}

#gb-header-mobile #rs-menu-btn span {
  padding-top: 5px;
}

#gb-header .mobile-logo-flex {
  padding: 0 14px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row.one {
  margin-top: 0;
}
.hp-row.two {
  padding-bottom: 0;
}
.hp-row.three {
  padding-top: 19px;
}
.hp-row.four {
  padding-top: 50px;
  padding-bottom: 28px;
}
.hp-row.four .content-wrap {
  display: block;
}
.hp-row.four .content-wrap.extra-row {
  padding-top: 16px;
}
.hp-row.four .hp-column {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 25px;
}
.hp-row.four .hp-column.one {
  padding-bottom: 48px;
  width: 100%;
}
.hp-row.four .hp-column.two {
  padding-top: 21px;
  width: 100%;
}
.hp-row.four .hp-column.three {
  width: 100%;
  padding-top: 29px;
}
.hp-row.five {
  padding-bottom: 6px;
}
.hp-row.six {
  padding: 2px 0 0 0;
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/11px 100%;
}
.hp-row.six::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(255, 255, 180, 0)), to(rgba(89, 142, 246, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 180, 0) 90%, rgba(89, 142, 246, 0.5) 100%);
}
.hp-row.six .content-wrap {
  padding: 0 16px;
}

.hp-row.three::before, .hp-row.five::before {
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/11px 100%;
}

/* MMG AREA*/
#hp-slideshow .mmg-description-outer {
  padding: 23px 24px;
}
#hp-slideshow .mmg-description-title {
  font-size: 1rem;
}
#hp-slideshow .mmg-description-caption {
  font-size: 0.875rem;
  margin-top: -4px;
  margin-bottom: 6px;
}
#hp-slideshow .mmg-description-links .mmg-description-link {
  font-size: 0.8125rem;
}
#hp-slideshow .mmg-controls {
  width: 100%;
  right: 0;
  left: 0;
  top: -10px;
}
#hp-slideshow .mmg-controls .mmg-control {
  width: 27px;
  height: 27px;
}
#hp-slideshow .mmg-controls .mmg-control::after {
  font-size: 12px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp .ui-widget.app .ui-widget-header.icon {
  padding-left: 61px;
  word-break: break-word;
}
.hp .ui-widget.app .ui-widget-header.icon::after {
  width: 61px;
  height: 61px;
  top: -8px;
}
.hp [data-region=c] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.6875rem;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header {
  padding-bottom: 18px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon {
  padding-left: 72px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon::before {
  top: -8px;
  font-size: 47px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-detail {
  margin-right: 0;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li {
  margin-right: 0;
  margin-bottom: 21px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-detail .ui-articles li:nth-child(n+2) {
  display: none;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 38px;
  top: -10px;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::after {
  top: -21px;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.6875rem;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 30px;
  top: -4px;
  left: 22px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::after {
  left: 0;
  top: -21px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.6875rem;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon {
  padding-left: 54px;
  padding-bottom: 0;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 25px;
  top: -8px;
  left: 10px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::after {
  width: 50px;
  height: 62px;
  left: -2px;
  top: -18px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.6875rem;
  letter-spacing: -1.3px;
}
.hp [data-region=g] .ui-widget.app {
  display: block;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header {
  display: block;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.6375rem;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header.icon {
  padding-top: 35px;
  padding-left: 65px;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 52px;
  top: 30px;
  left: 2px;
  position: absolute;
}
.hp [data-region=g] .ui-widget.app .ui-widget-footer .clear {
  display: none;
}
.hp [data-region=h] .ui-widget.app .ui-widget-footer {
  padding-top: 10px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header {
  padding-bottom: 29px;
  padding-top: 7px;
  padding-left: 88px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header.icon::before {
  font-size: 30px;
  top: 12px;
  left: 33px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header.icon::after {
  left: 11px;
  top: -4px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header h1 {
  font-size: 1.9375rem;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li {
  width: 270px !important;
  max-width: 270px !important;
  height: 270px !important;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li:nth-child(n+2) {
  display: none;
}

.hp [data-region=c] .ui-widget.app .more-link,
.hp [data-region=c] .ui-widget.app .view-calendar-link,
.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  padding: 13px 14px 8px;
}

.hp [data-region=g] .ui-widget.app.headlines .ui-articles li:nth-child(n+2) {
  display: none;
}

.hp [data-region=g] .ui-widget.app .more-link::before, .hp [data-region=g] .ui-widget.app .view-calendar-link::before, .hp [data-region=g] .ui-widget.app .div.app-level-social-rss a.ui-btn-toolbar.rs::before {
  display: none;
}

.hp [data-region=g] .ui-widget.app.headlines .ui-articles .ui-article-description {
  font-size: 0.875rem;
}

.hp [data-region=g] .ui-widget.app .more-link, .hp [data-region=g] .ui-widget.app .view-calendar-link, .hp [data-region=g] .ui-widget.app .div.app-level-social-rss a.ui-btn-toolbar.rs {
  margin-top: 12px;
}

.hp [data-region=g] .ui-widget.app.headlines .ui-articles li {
  padding: 0;
}

.ui-widget.app .more-link, .ui-widget.app .view-calendar-link, .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  font-size: 0.859375rem;
}

.hp [data-region=h] .ui-widget.app .ui-widget-header h1::before {
  display: none;
}

.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li img {
  max-width: 270px !important;
  max-height: 270px !important;
}

.hp [data-region=h] .ui-widget.app .more-link::before, .hp [data-region=h] .ui-widget.app .view-calendar-link::before, .hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss::before {
  display: none;
}

.hp [data-region=h] .ui-widget.app .more-link, .hp [data-region=h] .ui-widget.app .view-calendar-link, .hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  margin-right: 0;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.ui-widget.app .ui-widget-header h1 {
  font-size: 1.5625rem;
}

/* GroupEnd */
/* GroupBegin Subpage No Nav */
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### MAGIC SECTION ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#animation-graphic {
  padding-bottom: 10px;
}
#animation-graphic::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, rgba(255, 255, 255, 0)), to(rgba(89, 142, 246, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(89, 142, 246, 0.5) 100%);
}
#animation-graphic #city-bg-mobile {
  min-height: 150px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-footer {
  padding: 16px 0 20px;
}

.gb-footer-row.one {
  display: block;
  padding-bottom: 4px;
}

.footer-address .footer-info-wrap {
  padding: 0 30px 0 50px;
  padding-right: 0;
}
.footer-address .footer-info-wrap.top {
  padding-bottom: 22px;
}

.footer-address .footer-info-wrap .footer-info-header.visit::before {
  top: 13px;
  left: 3px;
}

.footer-address .footer-info-wrap .footer-info-header.contact::before {
  top: 6px;
  left: 3px;
}

.footer-link-container {
  padding-top: 0;
  padding-left: 18px;
  width: auto;
}
.footer-link-container #footer-link-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
}
.footer-link-container #footer-link-list li::before {
  left: -17px;
  font-size: 12px;
}

.cs-bb-footer-outer {
  padding-right: 50px;
}
.cs-bb-footer-outer .cs-bb-footer.info p {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cs-mystart-dropdown.user-options .cs-dropdown-selector {
  text-align: left;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons .cs-global-icons li {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  margin-bottom: 21px;
}
#gb-icons .cs-global-icons li .icon {
  padding: 12px 20px;
}
#gb-icons .cs-global-icons li .text {
  text-align: center;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.gb-socials .gb-social-icon .gb-social-icons::before {
  font-size: 25px;
}
.gb-socials.mobile {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gb-socials.region-e {
  margin-top: -6px;
}
.gb-socials.region-e .gb-social-icon {
  width: 45px;
  height: 45px;
}

/* GroupEnd */