/* GroupBegin Global */
body:before {
  content: "640";
}

.show640 {
  display: block;
}

.hide640 {
  display: none;
}

.ui-spn .ui-column-one-third {
  width: auto !important;
  float: none !important;
}

.ui-column-one.region {
  width: auto;
  clear: none;
}

.ui-column-one-quarter.region {
  width: auto;
  float: none;
}

.ui-column-one-half.region {
  width: auto;
  float: none;
}

.ui-column-one-third.region {
  width: auto;
  float: none;
}

.ui-column-two-thirds.region {
  width: auto;
  float: none;
}

.region.right {
  float: none;
}

/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Footer */
.gb-bb-footer.links li:nth-child(2) a::after {
  display: none;
}

.gb-bb-footer.links ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### MAGIC SECTION ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.mg-header.mobile .mg-head-1 {
  font-size: 6.4375rem;
  margin-right: auto;
  margin-left: -1px;
}
.mg-header.mobile .mg-header-wrap {
  display: block;
  position: relative;
  margin-top: -36px;
}
.mg-header.mobile .mg-header-wrap .mg-header-icon {
  max-width: 110px;
  max-height: 83px;
  position: relative;
  right: auto;
  top: auto;
  bottom: auto;
  left: auto;
}
.mg-header.mobile .mg-header-wrap .mg-head-2 {
  font-size: 1.5rem;
  top: 30px;
  right: auto;
  left: 100px;
}

#magic-mobile {
  margin-top: 8px;
}
#magic-mobile .mg-title-mobile {
  padding-bottom: 7px;
}
#magic-mobile .mg-title-mobile::before {
  width: 269px;
  height: 2px;
}
#magic-mobile .mg-title-mobile h2 {
  font-size: 1.75rem;
}
#magic-mobile .mg-description-mobile {
  margin-top: -6px;
}
#magic-mobile .mg-description-mobile p {
  font-size: 0.9375rem;
}

/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
.nav-group span {
  font-size: 0.775rem;
}

.hp [data-region=h] .ui-widget.app .ui-widget-footer {
  padding-top: 10px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li:nth-child(n+3) {
  display: none;
}

#gb-icons .cs-global-icons li .text {
  text-align: center;
}

/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */