@charset "UTF-8";
/* GroupBegin Global */
body:before {
  content: "768";
}

.show768 {
  display: block;
}

.hide768 {
  display: none;
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

/* GroupEnd */
.nav-section .cs-button-section {
  display: none;
}

.content-wrap {
  padding: 0 35px;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.nav-section.right {
  padding-left: 29px;
}
.nav-section.left {
  margin-right: 9px;
}
.nav-section .cs-button-section {
  display: none;
}

.mystartbar .content-wrap {
  padding: 0;
}

#gb-header-mobile {
  height: 100%;
  padding-right: 29px;
}
#gb-header-mobile #rs-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#gb-header-mobile #rs-menu-btn::before {
  background: transparent;
  font-size: 21px;
}
#gb-header-mobile #rs-menu-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3125rem;
  color: #fff;
  padding: 0;
}

#gb-header .mobile-logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
}

.header-logo {
  min-height: auto;
  padding: 14px 0 13px 0;
  z-index: 10;
}

#cs-ar {
  position: absolute;
  bottom: -57px;
  right: 72px;
  margin-left: 0;
}
#cs-ar .mystart-selector {
  padding: 0;
}
#cs-ar .mystart-selector::before {
  width: 236px;
  height: 57px;
  left: -31px;
  top: -3px;
}
#cs-ar span {
  font-size: 1.3125rem;
  margin-top: -9px;
  letter-spacing: 0.1px;
}
#cs-ar span::after {
  padding-left: 10px;
}
#cs-ar #ar-dropdown,
#cs-ar #ar-dropdown-mobile {
  top: 100%;
  z-index: 5000;
}

#school-list {
  top: 95%;
}

.rs-menu-group.quicklinks {
  display: none;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row.one {
  margin-top: -50px;
}
.hp-row.one .content-wrap {
  padding: 0;
}
.hp-row.three {
  padding: 27px 0 20px;
}
.hp-row.four {
  padding-bottom: 57px;
}
.hp-row.four .hp-column {
  padding: 0 11px 0 0;
}
.hp-row.four .hp-column.one, .hp-row.four .hp-column.two {
  width: 50%;
}
.hp-row.four .hp-column.two {
  padding-right: 0px;
  padding-left: 11px;
}
.hp-row.four .hp-column.three {
  padding-top: 129px;
  width: 100%;
}
.hp-row.four .content-wrap.extra-row {
  padding-top: 53px;
  padding-right: 18px;
}
.hp-row.five {
  padding-bottom: 30px;
}

/* MMG AREA*/
#hp-slideshow {
  overflow: hidden;
  --mask: none;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-repeat: repeat-x;
}
#hp-slideshow .mmg-description-outer {
  padding: 21px 37px 5px;
  border-radius: 0;
}
#hp-slideshow .mmg-description-wrapper {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  width: auto;
  max-width: none;
}
#hp-slideshow .mmg-description {
  display: inline-block;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 0;
  text-align: left;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
}
#hp-slideshow .mmg-description-caption {
  margin-bottom: 12px;
}
#hp-slideshow .mmg-description-links {
  position: relative;
  left: auto;
  bottom: auto;
}
#hp-slideshow .mmg-controls {
  top: -33px;
  right: calc(12% - 41px);
  left: auto;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp [data-region=c] .ui-widget.app .ui-widget-header h1 {
  font-size: 2.25rem;
  margin-top: 0;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header {
  padding-bottom: 37px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon {
  padding-left: 60px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon::before {
  top: 0px;
  font-size: 44px;
  left: 3px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-articles li {
  padding: 11px 25px;
  margin: 2px 15px 9px 0px;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-articles li:nth-child(n+4) {
  display: none;
}
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-articles .upcoming-column.right {
  padding-top: 15px;
}
.hp [data-region=c] .ui-widget.app .more-link,
.hp [data-region=c] .ui-widget.app .view-calendar-link,
.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  margin-right: 0;
}
.hp [data-region=c] .ui-widget.app .more-link::before,
.hp [data-region=c] .ui-widget.app .view-calendar-link::before,
.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss::before {
  display: none;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header h1 {
  margin-top: -4px;
  padding-bottom: 8px;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon {
  padding-left: 74px;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 38px;
  left: 9px;
  top: -5px;
}
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::after {
  width: 61px;
  height: 61px;
  top: -15px;
  left: 1px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header h1 {
  margin-top: -4px;
  padding-bottom: 8px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon {
  padding-left: 72px;
  padding-bottom: 11px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 30px;
  left: 15px;
  top: -1px;
}
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::after {
  width: 61px;
  height: 61px;
  top: -15px;
  left: -7px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header h1 {
  margin-top: -4px;
  padding-bottom: 8px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon {
  padding-left: 75px;
  padding-bottom: 11px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::before {
  left: 15px;
  top: -2px;
  font-size: 30px;
}
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::after {
  width: 61px;
  height: 74px;
  left: -1px;
  top: -14px;
}
.hp [data-region=g] .ui-widget.app {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header {
  margin-top: 0;
  padding-top: 38px;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header.icon::before {
  font-size: 80px;
  top: -10px;
  left: 8px;
}
.hp [data-region=g] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.9375rem;
  line-height: 40px;
  margin-top: 9px;
}
.hp [data-region=g] .ui-widget.app .more-link,
.hp [data-region=g] .ui-widget.app .view-calendar-link,
.hp [data-region=g] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  margin-right: 0;
  padding: 13px 17px;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-widget-header {
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
  padding-right: 3px;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-widget-detail {
  -ms-flex-preferred-size: 54%;
      flex-basis: 54%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-article-thumb .img img {
  max-width: none;
  max-height: none;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-article {
  height: auto;
  background-image: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-article .headline-description {
  position: relative;
  opacity: 1;
  background-color: transparent;
  text-align: left;
  padding: 0;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-article .headline-description > div {
  opacity: 1;
  top: auto;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles li:nth-child(n+3) {
  display: none;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles .ui-article-thumb {
  display: block !important;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles .ui-article-description {
  color: #000;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header {
  padding-bottom: 28px;
  padding-left: 77px;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header h1 {
  font-size: 1.9375rem;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header h1::before {
  right: -27px;
  width: 27px;
  height: 27px;
  top: -6px;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header .more-link,
.hp [data-region=h] .ui-widget.app .ui-widget-header .view-calendar-link,
.hp [data-region=h] .ui-widget.app .ui-widget-header div.app-level-social-rss a.ui-btn-toolbar.rss {
  margin-right: 0;
  padding: 13px 17px;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header .more-link::before,
.hp [data-region=h] .ui-widget.app .ui-widget-header .view-calendar-link::before,
.hp [data-region=h] .ui-widget.app .ui-widget-header div.app-level-social-rss a.ui-btn-toolbar.rss::before {
  display: none;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header.icon::before {
  top: 9px;
  left: 21px;
  font-size: 32px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-header.icon::after {
  width: 61px;
  height: 61px;
  top: -6px;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles {
  margin: 0 !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li:nth-child(n+4) {
  display: none;
}

.hp [data-region=g] .ui-widget.app.headlines .ui-widget-detail .ui-articles .ui-article .ui-article-title a {
  color: #014F7F;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.ui-widget.app .ui-widget-header h1 {
  font-size: 1.9375rem;
  letter-spacing: 0.1px;
}
.ui-widget.app .more-link,
.ui-widget.app .view-calendar-link,
.ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
  padding: 13px 13px 12px;
}

/* GroupEnd */
/* GroupBegin Subpage */
#sp-content {
  display: block;
}

.sp-column.one,
.sp-column.two {
  min-height: 0px;
  float: none;
  width: 100%;
  padding: 0;
}

.sp-column.one .ui-widget.app div.ui-widget-header {
  padding: 15px 20px;
  background: #F7F7F7;
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1 {
  position: relative;
  padding-right: 25px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1:before {
  content: "";
  font-family: "-icons";
  font-size: 1.125rem;
  color: #000;
  display: block;
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
}

.sp-column.one .ui-widget.app.open > div.ui-widget-header h1:before {
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sp-column.one .ui-widget.app div.ui-widget-detail {
  padding-bottom: 35px;
}

.sp-column.two {
  width: calc(100% + 42px);
  margin-left: -42px;
  padding-top: 35px;
}

/* GroupEnd */
/* GroupBegin Subpage No Nav */
#spn-content {
  min-height: 0px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### MAGIC SECTION ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.mg-header {
  padding-top: 12px;
  padding-bottom: 16px;
}
.mg-header .mg-head-1 {
  font-size: 7.6875rem;
  margin-right: 21px;
  margin-left: 11px;
}
.mg-header .mg-header-icon {
  max-width: 140px;
  max-height: 127px;
  right: auto;
  left: 350px;
}
.mg-header .mg-head-2 {
  font-size: 1.875rem;
  top: 60px;
  left: 460px;
  right: auto;
}

#magic-mobile {
  margin-left: 5px;
  margin-bottom: -9px;
}
#magic-mobile .mg-title-mobile {
  position: relative;
  padding-bottom: 10px;
}
#magic-mobile .mg-title-mobile h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 3.5625rem;
  color: #4666A9;
}
#magic-mobile .mg-title-mobile::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFDD00;
  height: 5px;
  width: 570px;
  top: auto;
  bottom: 0;
}
#magic-mobile .mg-description-mobile {
  margin-top: -12px;
}
#magic-mobile .mg-description-mobile p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: #000;
}

#animation-graphic {
  padding-top: 0;
  padding-bottom: 5px;
}
#animation-graphic::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, rgba(255, 255, 255, 0)), to(rgba(89, 142, 246, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(89, 142, 246, 0.5) 100%);
}
#animation-graphic::after {
  height: 17px;
  bottom: -13px;
}
#animation-graphic #city-bg-mobile {
  min-height: 230px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.gb-footer-row.one {
  padding-bottom: 0px;
}
.gb-footer-row.one::before {
  display: none;
}

.gb-logo-footer {
  display: none;
}

.footer-address {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-address .footer-info-wrap {
  padding: 0px 23px 0 49px;
}
.footer-address .footer-info-wrap .footer-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-address .footer-info-wrap .footer-info-wrapper p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.125rem;
  margin: -1px 15px 15px 0px;
}
.footer-address .footer-info-wrap.top {
  padding-bottom: 36px;
  padding-top: 4px;
}

.footer-link-container {
  padding-left: 30px;
  width: 153px;
}
.footer-link-container #footer-link-list {
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}

#disclaimer-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons .cs-global-icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#gb-icons .cs-global-icons li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 13px;
}
#gb-icons .cs-global-icons li .icon {
  padding: 23px 30px 10px;
}

/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.gb-socials.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 11px;
}

/* GroupEnd */
/* UNDO SCROLL ANIMATIONS */
#gb-icons,
.hp [data-region=c] .ui-widget.app .ui-widget-header h1,
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon::before,
.hp [data-region=c] .ui-widget.app .more-link,
.hp [data-region=c] .ui-widget.app .view-calendar-link,
.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-detail,
.hp [data-region=d] .ui-widget.app .ui-widget-header h1,
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::before,
.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::after,
.hp [data-region=e] .ui-widget.app .ui-widget-header h1,
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::before,
.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::after,
.hp [data-region=f] .ui-widget.app .ui-widget-header h1,
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::before,
.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::after,
.hp [data-region=d] .ui-widget.app .ui-widget-detail,
.hp [data-region=e] .ui-widget.app .ui-widget-detail,
.hp [data-region=f] .ui-widget.app .ui-widget-detail,
.hp [data-region=d] .ui-widget.app .more-link,
.hp [data-region=d] .ui-widget.app .view-calendar-link,
.hp [data-region=d] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
.hp [data-region=e] .ui-widget.app .more-link,
.hp [data-region=e] .ui-widget.app .view-calendar-link,
.hp [data-region=e] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
.hp [data-region=f] .ui-widget.app .more-link,
.hp [data-region=f] .ui-widget.app .view-calendar-link,
.hp [data-region=f] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
.hp [data-region=g] .ui-widget.app .ui-widget-header h1,
.hp [data-region=g] .ui-widget.app .ui-widget-header.icon,
.hp [data-region=g] .ui-widget.app.headlines .ui-widget-detail,
.hp [data-region=h] .ui-widget.app .ui-widget-header.icon::before,
.hp [data-region=h] .ui-widget.app .ui-widget-header.icon::after,
.hp [data-region=h] .ui-widget.app .ui-widget-header h1,
.hp [data-region=h] .ui-widget.app .ui-widget-header h1::before,
.hp [data-region=h] .ui-widget.app .more-link,
.hp [data-region=h] .ui-widget.app .view-calendar-link,
.hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
.hp [data-region=h] .ui-widget.app .ui-widget-detail,
.mg-header .mg-head-1,
.mg-header-icon-1024 .mg-wand-icon,
.mg-header-icon-1024 .mg-star.i1,
.mg-header-icon-1024 .mg-star.i2,
.mg-header-icon-1024 .mg-star.i3,
.mg-header-icon-1024 .mg-star.i4,
.mg-header-icon-1024 .mg-star.i5 {
  visibility: visible;
}

/* SCROLL END */