@import "../../../utilities/css/utilities";

$bodyFont: Poppins, sans-serif;;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($prop, $speed) {
	transition: $prop $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
/* GroupEnd */

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer {
	#hp-slideshow {

	}
}
/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */
