/* GroupBegin Global */
body:before {
  content: "768";
}

.show768 {
  display: block;
}

.hide768 {
  display: none;
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

/* GroupEnd */
/* GroupBegin Header */
#rs-menu-btn {
  font-size: .9333rem;
  font-weight: 700;
  padding: 11px 50px 11px 10px;
}

#rs-menu-btn::before {
  font-family: 'template-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e907";
  background: transparent;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 11px;
  font-size: 24px;
}

#rs-menu-btn span {
  padding: 0;
}

/* GroupEnd */
/* GroupBegin Footer */
/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
/* GroupEnd */
/* GroupBegin Subpage */
#sp-content .content-wrap {
  display: block;
}

.sp-column.two {
  padding-left: 0;
}

.sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
  margin-left: -25px;
  width: calc(100% + 50px);
}

/* GroupEnd */
/*# sourceMappingURL=768.css.map */