<div id="gb-page" class="sp [$SiteAlias$]">
    <header id="gb-header">
        <div class="mystartbar">
            <div class="content-wrap flex-cont jc-sb ai-c">
                <div class="nav-section right flex-cont ai-c">
                    <div id="gb-header-mobile"></div>
                    <div class="cs-button-section flex-cont jc-c ai-fs">
                        <div id="search-input-wrapper" class="flex-cont ai-c">
                            <!-- BODY OF SEARCH-->
                            <form id="gb-search-form" aria-hidden="false">
                                <button type="submit" id="gb-search-submit" aria-label="Submit the search input"></button>
                                <label for="gb-search-input" class="hidden">Search...</label>		
                                <input type="text" id="gb-search-input" class="gb-search-input" value="Search..." />
                            </form>
                        </div>
                        <div id="gb-translate" class="custom-dropdown flex-cont jc-fs ai-c">
                            <div class="translate-icon"></div>
                            <button class="translate-selector" aria-controls="translate-dropdown" aria-expanded="false" aria-haspopup="true">Translate This Page</button>
                            <div id="translate-dropdown" class="dropdown" aria-hidden="true"></div>
                        </div>
                    </div>
                    <div class="nav-group right flex-cont ai-c">
                        <div id="cs-ab" class="custom-dropdown">
                            <button class="mystart-selector" aria-controls="a&b days" aria-expanded="false" aria-haspopup="true">
                                <span><SWCtrl controlname="Custom" props="Name:extraDropdown" /></span>
                            </button>
                            <div id="ab-dropdown" class="dropdown" aria-hidden="true" data-region="b">
                                [$ContentRegion props="ContainerNumber:1"$] 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-section left flex-cont ai-c">
                    <div class="nav-group left flex-cont ai-c">
                        <a class="extra-nav-links" data-toggle="<SWCtrl controlname="Custom" props="Name:showNav1" />" href="<SWCtrl controlname="Custom" props="Name:Nav1Url" />" target="<SWCtrl controlname="Custom" props="Name:Nav1Target" />" aria-label="<SWCtrl controlname="Custom" props="Name:Nav1Text" /> Link">
                            <span><SWCtrl controlname="Custom" props="Name:Nav1Text" /></span>
                        </a> 
    
                        <a class="extra-nav-links" data-toggle="<SWCtrl controlname="Custom" props="Name:showNav2" />" href="<SWCtrl controlname="Custom" props="Name:Nav2Url" />" target="<SWCtrl controlname="Custom" props="Name:Nav2Target" />" aria-label="<SWCtrl controlname="Custom" props="Name:Nav2Text" /> Link">
                            <span><SWCtrl controlname="Custom" props="Name:Nav2Text" /></span>
                        </a> 
    
                        <a class="extra-nav-links" data-toggle="<SWCtrl controlname="Custom" props="Name:showNav3" />" href="<SWCtrl controlname="Custom" props="Name:Nav3Url" />" target="<SWCtrl controlname="Custom" props="Name:Nav3Target" />" aria-label="<SWCtrl controlname="Custom" props="Name:Nav3Text" /> Link">
                            <span><SWCtrl controlname="Custom" props="Name:Nav3Text" /></span>
                        </a> 
    
                        <div id="cs-schools" class="custom-dropdown">
                            <button class="mystart-selector" aria-controls="Our Schools" aria-expanded="false">
                                <span>Our Schools</span>
                            </button>
                            <ul id="school-list" class="dropdown" aria-hidden="true"></ul>
                        </div>
    
                        <div id="cs-ar" class="custom-dropdown">
                            <button class="mystart-selector" aria-controls="Apply and Register" aria-expanded="false">
                                <span><SWCtrl controlname="Custom" props="Name:arTitle" /></span>
                            </button>
                            <div id="ar-dropdown" class="dropdown" aria-hidden="true">
                                <ul id="ar-list"></ul>
                            </div>
                        </div>
                    </div>
                    <div id="cs-ar-mobile" class="custom-dropdown jc-c hide1024 show480">
                        <button class="mystart-selector" aria-controls="Apply and Register" aria-expanded="false">
                            <span><SWCtrl controlname="Custom" props="Name:arTitle" /></span>
                        </button>
                        <div id="ar-dropdown" class="dropdown" aria-hidden="true">
                            <ul id="ar-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap mobile-logo-flex">
            <div class="header-logo flex-cont jc-c ai-c" data-toggle="<SWCtrl controlname="Custom" props="Name:showSchoolLogo" />">
                <div id="gb-logo" class="logo-container"></div>
            </div>
            <section class="gb-socials mobile hide1024 show768"></section>
            <div class="main-header ai-c show1024 hide768">
                <nav id="gb-channel-bar" title="main navigation">
                    <section id="gb-channel-list" class="flex-cont jc-c ai-c">
                        [$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
                    </section>
                </nav>
            </div>
        </div>
    </header>

    <main id="sp-content-outer">
        <section class="gb-socials sticky show1024 hide768"></section>
        <nav id="sp-breadcrumbs" class="content-wrap flex-cont jc-fe" data-toggle='<SWCtrl controlname="Custom" props="Name:breadToggle" />'>
            <span class="noprint">[$Breadcrumb props="MaxLevels:4"$]</span>
        </nav>
        
        <section id="sp-content" class="content-wrap flex-cont">
            <nav class="sp-column one noprint">
                [$PageListNavigation props="DisplayHeading:Yes"$]
            </nav>
            
            <div class="sp-column two">
                [$ContentLayoutPlaceholder$]
            </div>
        </section>
    </main>

    <footer id="gb-footer">
        <div class="content-wrap">
            <div class="gb-footer-row one flex-cont jc-sb ai-fs">
                <div class="gb-logo-footer"></div>
                <div class="footer-address flex-cont jc-fs">
                    <div class="footer-info-wrap top">
                        <h2 class="footer-info-header visit">Visit Us</h2>
                        <div class="footer-info-wrapper">
                            <p>
                                <span class="info-head">Arthur R. Sypek Center:<br></span>
                                <a class="address-wrap" href="https://goo.gl/maps/PgCzNFytBzLZeAka8" target="_blank">
                                    <span>[$SiteAddressOne$]<br></span>
                                    <span>[$SiteCity$], [$SiteState$] [$SiteZip$]</span>
                                </a>

                            </p>
                            <p>
                                <span class="info-head"><SWCtrl controlname="Custom" props="Name:extraAddressTitle" /><br></span>
                                <a class="address-wrap" href="https://goo.gl/maps/KLBWnPo8Y9yQkHen8" target="_blank">
                                    <span><SWCtrl controlname="Custom" props="Name:extraAddress" /><br></span>
                                    <span><SWCtrl controlname="Custom" props="Name:extraAddress2" /></span>
                                </a>

                            </p>
                        </div>
                    </div>
                    <div class="footer-info-wrap bottom">
                        <h2 class="footer-info-header contact">Contact Us</h2>
                        <div class="footer-info-wrapper">
                            <p>
                                <span class="info-head">Arthur R. Sypek Center:<br></span>
                                <span>[$SiteContactPhone$]</span>
                            </p>
                            <p>
                                <span class="info-head"><SWCtrl controlname="Custom" props="Name:extraContactTitleOne" /><br></span>
                                <span><SWCtrl controlname="Custom" props="Name:extraContactOne" /></span>
                            </p>
                            <p>
                                <span class="info-head"><SWCtrl controlname="Custom" props="Name:extraContactTitleTwo" /><br></span>
                                <span><SWCtrl controlname="Custom" props="Name:extraContactTwo" /></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-link-container">

                    <ul id="footer-link-list">
                        <li>[$SiteMapLink$]</li>
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink1" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink1Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink1Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink1" /></span>
                            </a>
                        </li> 
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink2" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink2Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink2" /></span>
                            </a>
                        </li> 
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink3" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink3Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink3" /></span>
                            </a>
                        </li> 
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink4" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink4Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink4" /></span>
                            </a>
                        </li>
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink5" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink5Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink5" /></span>
                            </a>
                        </li>
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink6" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink6Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink6" /></span>
                            </a>
                        </li>
                        <li data-toggle="<SWCtrl controlname="Custom" props="Name:showCustomLink7" />">
                            <a href="<SWCtrl controlname="Custom" props="Name:customLink7Url" />" target="<SWCtrl controlname="Custom" props="Name:customLink2Target" />">
                                <span><SWCtrl controlname="Custom" props="Name:customLink7" /></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gb-footer-row two">
                <div id="gb-icons"></div>
                    <div id="footer-disclaimer" data-toggle="<SWCtrl controlname="Custom" props="Name:showftDisclaimer" />"><p><SWCtrl controlname="Custom" props="Name:ftDisclaimer" /></p></div>
                    <div id="disclaimer-row" class="flex-cont jc-fe">
                        <div class="cs-mystart-dropdown user-options">
                            <button class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">
                                <span>User Options</span>
                            </button>
                            <div class="cs-dropdown" aria-hidden="true" style="display:none;">
                                <ul class="cs-dropdown-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>