/* GroupBegin Global */
.cs-template--show-640 {
  display: block;
}

.cs-template--hide-640 {
  display: none;
}

/* GroupEnd */
/* GroupBegin Responsive Menu */
/* GroupEnd */
/* GroupBegin Mystart */
/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Channel Bar */
/* GroupEnd */
/* GroupBegin Photo Area */
/* GroupEnd */
/* GroupBegin Body */
/* GroupEnd */
/* GroupBegin Footer */
.cs-template__branded-footer-outer {
  padding-left: 0px;
  padding-right: 0px;
}

/* GroupEnd */
/* GroupBegin App Styles */
.ui-spn .ui-column-one-third {
  width: auto !important;
  float: none !important;
}

.ui-column-one.region {
  width: auto;
  clear: none;
}

.ui-column-one-quarter.region {
  width: auto;
  float: none;
}

.ui-column-one-half.region {
  width: auto;
  float: none;
}

.ui-column-one-third.region {
  width: auto;
  float: none;
}

.ui-column-two-thirds.region {
  width: auto;
  float: none;
}

.region.right {
  float: none;
}

/* GroupEnd */
/* GroupBegin Homepage Specific */
/* GroupEnd */
/* GroupBegin Subpage Specific */
/* GroupEnd */
/* GroupBegin Subpage No Nav Specific */
/* GroupEnd */
/*# sourceMappingURL=640.css.map */