/* GroupBegin Fonts */

/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Global */
@-ms-viewport {
	width: device-width;
}
body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background: #fff;
    line-height: 1.5;
}
body:before {
	content: "desktop";
	display: none;
}
.displayFlexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.displayFlexCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.cs-ally-hidden, .acc-hidden {
    width: 0 !important;
    height: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
}
.cs-border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cs-btn-reset {
	background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
}
.ui-clear:after {
	content: "";
}
.gb-section-parent {
	position: relative;
}
.gb-section, #cs-contrast-bar {
	max-width: 1240px;
	margin: 0px auto;
	position: relative;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gb-section-pad {
	padding: 0px 20px;
}
#gb-page {
	width: 100%;
	position: relative;
	overflow: hidden;
}
#gb-page[data-body-color="Grey;Black"], #gb-page[data-body-color="Grey"] {
	color: #333;
}
#gb-page[data-body-color="Black"] {
	color: #000;
}
a {
	color: <SWCtrl controlname="Custom" props="Name:linkColor" />;
	text-decoration: <SWCtrl controlname="Custom" props="Name:linkDecoration" />;
}
/* GroupEnd */

/* GroupBegin Mystart */
#sw-mystart-outer {
	display: none;
}
#gb-mystart-outer {

}
#gb-mystart {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    -webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
    padding: 3px 0px;
}
.gb-mystart {
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    -webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.sw-mystart-button,
#gb-search {
	margin: 0px 3px;
}
.sw-mystart-button a,
.sw-mystart-button a:active,
.sw-mystart-button a:visited,
#gb-search-input {

}
.cs-mystart-dropdown {
    position: relative;
    float: left;
    height: auto;
    margin: 0px 3px 0px 3px;
    padding: 3px 3px 3px 8px;
}
.cs-mystart-dropdown .cs-dropdown-list {
    width: 178px;
    max-height: 350px;
    overflow: auto;
    height: auto !important;
    height: 350px;
    margin: 0px;
    list-style: none;
    padding: 0px;
}
.cs-mystart-dropdown .cs-dropdown {
    position: absolute;
    top: 100%;
    left: 0px;
    display: none;
    -moz-box-shadow: 3px 3px 3px #333;
    -webkit-box-shadow: 3px 3px 3px #333;
    box-shadow: 3px 3px 3px #333;
    z-index: 8000;
    padding: 3px 0px;
}
.cs-mystart-dropdown .cs-selector {
	position: relative;
    padding-right: 40px;
    cursor: pointer;
}
.cs-mystart-dropdown .cs-selector:before {
	content: "";
    display: block;
    width: 0px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 17px;
    border-right: 1px solid #333;
}
.cs-mystart-dropdown .cs-selector:after {
	content: "▼";
    position: absolute;
    top: 1px;
	right: 4px;
    background: none;
	padding: 0px;
	font-size: 9px;
    z-index: 8000;
    -ms-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.cs-mystart-dropdown.open .cs-selector:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.cs-mystart-dropdown .cs-dropdown-list li {
    padding: 8px 10px;
}
.cs-mystart-dropdown .cs-dropdown-list li a {
    text-decoration: none;
    display: block;
}
#gb-search-input {
	border: none;
    background: #FFF;
    margin: 0px;
    padding: 0px;
}
/* GroupEnd */

/* GroupBegin Header */
#gb-header-outer {

}
#gb-header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.gb-header {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.gb-header.left {
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#gb-logo-outer {
	width: auto;
	float: left;
	padding: 0 20px 0 0;
	position: relative;
	max-width: 100%;
	display: table;
}
#gb-logo-outer[data-show-desktop-logo="false"] {
	display: none;
}
#gb-logo {

}
#gb-logo h1 {
	margin: 0;
}
#gb-logo a {
	display: block;
}
#gb-logo img {
	display: block;
    max-width: 100%;
	max-height: 100%;
}
#gb-sitename-outer {
	position: relative;
}
.sitename-one[data-show-school-name="false"],
.sitename-one:empty,
.sitename-tagline[data-show-tagline="false"],
.sitename-tagline:empty {
	display: none;
}
#gb-sitename h1 {
	margin: 0;
	padding: 0;
}
#gb-sitename p {
	margin: 0;
	padding: 0;
}
/* GroupEnd */

/* GroupBegin Channel Bar */
#gb-channel-list-outer {

}
nav.sticky #gb-channel-list-outer {
	width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8000;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav.sticky.dashboard-active #gb-channel-list-outer {
	width: calc(100% - 50px);
    left: 50px;
}
#gb-channel-list {
	min-height: 39px;
}
div#sw-channel-list-container {
	display: block;
	width: auto;
}
ul.sw-channel-list {
	border: 0 none;
	margin: 0;
	padding: 0;
}
ul.sw-channel-list li.sw-channel-item {
	float: left;
	height: 39px;
	list-style: none outside none;
	margin: 0;
	position: relative;
}
li.no-dropdown ul.sw-channel-dropdown {
    display: none !important;
}
li.sw-channel-item > a {
	display: block;
	height: 100%;
	padding: 0;
	text-decoration: none;
}
li.sw-channel-item > a span {
	display: block;
	padding: 10px 15px 11px 15px;
}
li.sw-channel-item.active, li.sw-channel-item.hover {

}
li.sw-channel-item.hover > a {

}
li.sw-channel-item.active > a {

}
ul.sw-channel-dropdown {
	border: 0 none;
	display: none;
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 180px;
	z-index: 7001;
}
ul.sw-channel-dropdown li {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	height: auto;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
	width: 180px;
}
ul.sw-channel-dropdown li a {
	background: none repeat scroll 0 0 transparent;
	display: block;
	padding: 7px 10px;
	text-decoration: none;
	width: 160px;
}
ul.sw-channel-dropdown li a:hover {

}
.sw-channel-more-li {
	background: transparent none;
}
ul.sw-channel-dropdown .sw-channel-more-li a:hover {
	background: transparent none !important;
}
.sw-channel-more-span {
	color: inherit;
}
/* GroupEnd */

/* GroupBegin Slideshow */
#hp-slideshow-outer {

}
#hp-slideshow-outer .ui-widget.app {
	display: none;
}
#hp-slideshow-outer[data-slideshow-feature="Multimedia Gallery"] .ui-widget.app.multimedia-gallery {
	display: block;
}
#hp-slideshow {

}
#hp-slideshow .ui-widget-detail {
	padding: 0px;
    margin: 0px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description:empty {
	display: none;
}
/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */
#gb-footer-outer {

}
#gb-footer {

}
.gb-footer p {
	margin: 0px;
	padding: 0px;
}
.gb-footer.one {
	width: 50%;
	text-align: left;
	float: left;
}
.gb-footer.two {
	width: 50%;
	text-align: right;
	float: right;
}
.gb-footer-contact:empty {
    display: none;
}
.footer-contact-link[data-show-link="false"] {
	display: none;
}
#gb-footer-links ul {
	margin: 0;
    padding: 0;
}
#gb-footer-links ul li {
	list-style-type: none;
}

#gb-page.using-full-site-btn #gb-schoolwires-footer-outer {
	padding-bottom: 42px;
}
#gb-schoolwires-footer-outer {
	background: #141414;
    position: relative;
}
.gb-schoolwires-footer.top {
	padding: 17px 0px 0px;
}
#gb-footer-disclaimer {
	font-size: 12px;
    line-height: 1.5em;
	text-align: center;
	color: #FFF;
    padding: 10px 0px 0px;
}
#gb-footer-disclaimer[data-show-disclaimer="false"] {
	display: none;
}
.gb-schoolwires-footer.bottom {
	font-size: 10px;
    line-height: 1.3em;
    color: #FFF;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 0px 38px;
}
.gb-schoolwires-footer.bottom a {
	font-size: 10px;
    font-family: Arial, sans-serif;
    color: #FFF;
}
.gb-schoolwires-footer.bottom a:hover {
    text-decoration: underline;
}
.gb-schoolwires-footer-links-copyright {
	-webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.gb-schoolwires-footer.logo {
	margin-right: 11px;
}
.gb-schoolwires-footer.logo a {
	display: block;
}
.gb-schoolwires-footer.links ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}
.gb-schoolwires-footer.links ul li {
	display: inline-block;
}
.gb-schoolwires-footer.links ul li:before {
	content: "•";
    display: inline-block;
    line-height: 6px;
    font-size: 8px;
    position: relative;
    top: 1px;
    margin: 0px 4px;
}
.gb-schoolwires-footer.links ul li:first-child:before {
	display: none;
}
.gb-schoolwires-footer.copyright {
	font-size: 10px;
    font-family: Arial, sans-serif;
    font-style: italic;
}
#sw-footer-outer {
	display: none;
}
/* GroupEnd */

/* GroupBegin Global Icons */
#gb-global-icons {

}
#gb-global-icons > ul {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#gb-global-icons > ul > li {
	margin: 0 15px;
}
#gb-global-icons > ul > li:first-child {
	margin-left: 0;
}
#gb-global-icons > ul > li:last-child {
	margin-right: 0;
}
.cs-global-icon {
	text-decoration: none;
}
.cs-global-icon .icon {
	font-size: 30px;
}
.cs-global-icon .icon img {
	display: block;
    width: 100%;
    max-width: 30px;
    height: auto;
    max-height: 30px;
    margin: 0 auto;
}
.cs-global-icon .text {

}
/* GroupEnd */

/* GroupBegin Social Icons */
#gb-social-media-icons ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#gb-social-media-icons ul > li {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}
.gb-social-media-icon {
	float: left;
	margin-left: 5px;
    display: block;
}
.gb-social-media-icon[data-show-icon="false"] {
	display: none;
}
/* GroupEnd */

/* GroupBegin App Styles */
[data-region="sp2"] .ui-widget.app {
	padding: 0 30px;
}
/* Covers any possible system update for header <h> tag */
div.ui-widget.app div.ui-widget-header h1, div.ui-widget.app div.ui-widget-header h2, div.ui-widget.app div.ui-widget-header h3, div.ui-widget.app div.ui-widget-header h4, div.ui-widget.app div.ui-widget-header h5, div.ui-widget.app div.ui-widget-header h6,
div.ui-widget.app.navigation div.ui-widget-header h1, div.ui-widget.app.navigation div.ui-widget-header h2, div.ui-widget.app.navigation div.ui-widget-header h3, div.ui-widget.app.navigation div.ui-widget-header h4, div.ui-widget.app.navigation div.ui-widget-header h5, div.ui-widget.app.navigation div.ui-widget-header h6,
div.ui-widget.app.detail .ui-widget-header h1, div.ui-widget.app.detail .ui-widget-header h2, div.ui-widget.app.detail .ui-widget-header h3, div.ui-widget.app.detail .ui-widget-header h4, div.ui-widget.app.detail .ui-widget-header h5, div.ui-widget.app.detail .ui-widget-header h6 {
	font-weight: inherit;
	font-size: inherit;
    padding: 0;
    margin: 0;
}
.ui-widget-detail,
.ui-widget-footer {
	padding: 0;
}
.ui-widget-footer {
	width: auto;
}
.ui-article-title {

}
.ui-article-title a {

}
.record-level-social-rating {
	width: auto;
}
.sw-ratings-count, .sub-link {
	color: inherit !important;
}
.app-level-social-rss, .app-level-social-follow {
	line-height: 1.5;
}
#cal-event-detail-button-container a.ui-btn-toolbar.icon, #calendar-pnl-wrapper a.ui-btn-toolbar, div.app-level-social-rss a.ui-btn-toolbar.rss {
	opacity: 1;
}
#calendar-pnl-buttons a.ui-btn-toolbar.rss span:after, a.ui-btn-toolbar.rss span:after {
	margin-left: 0;
}
.record-level-social-rating {
	width: auto;
}
.sw-ratings-count, .sub-link {
	color: inherit !important;
}
a.more-link, div.app-level-social-rss a.ui-btn-toolbar.rss, a.view-calendar-link, a.ui-btn-toolbar.calendarfollow, .app-level-social-contribute a.ui-btn-general {
	display: block;
	text-align: left;
	font-size: 14px;
	text-decoration: none;
	padding: 10px;
}
#calendar-pnl-buttons a.ui-btn-toolbar.rss span, a.ui-btn-toolbar.rss span, .app-level-social-contribute a.ui-btn-general span {
	background: transparent none;
    height: auto;
    line-height: inherit;
    padding: 0;
}
a.ui-btn-toolbar.calendarfollow span {
	background: transparent none;
}
a.ui-btn-toolbar.calendarfollow span:after {
	margin-left: 0;
    font-size: 14px;
}
.ui-widget-footer a.ui-btn-toolbar.calendarfollow span, .ui-widget-footer a#calendar-btn-calendarfollow.ui-btn-toolbar.calendarfollow span {
	opacity: 1;
    padding: 0;
    line-height: inherit;
    height: auto;
    color: inherit;
}
.more-link-under {
	display: none;
}
.headlines.detail .ui-return {
	margin-bottom: 20px;
    display: inline-block;
}
.ui-widget-footer .app-level-social-follow:empty,
.ui-widget-footer .app-level-social-contribute:empty {
	display: none;
}
a#ui-btn-mypasskey {
	height: auto;
    display: block;
}
div#ui-mypasskey-overlay {
	padding: 0;
    background: none;
}
#sw-passkey-container {
	border: 0 none;
}
.accordion-setup .ui-widget.app.tabbed-content .content-accordion-button.ui-article-title {
	color: inherit;
}
.ui-widget.app.assignment .ui-article-detail {
	color: inherit;
}
/* GroupEnd */

/* GroupBegin Navigation Styles */
div.ui-widget.app.navigation li div.bullet.expandable {
	background: none;
	width: 25px;
	position: relative;
}
div.ui-widget.app.navigation li div.bullet.collapsible {
	background: none;
	width: 25px;
	position: relative;
}
div.ui-widget.app.navigation li div.bullet {
	background: none;
	width: 25px;
	position: relative;
}
div.ui-widget.app.navigation li div.bullet:before {
	content: "•";
	font-size: 14px;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
}
div.ui-widget.app.navigation li div.bullet.collapsible:before {
	content: "_";
	font-size: 14px;
	display: block;
	position: absolute;
	top: -5;
	left: 0;
}
div.ui-widget.app.navigation li div.bullet.expandable:before {
	content: "+";
	font-size: 14px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

#gb-breadcrumbs[data-show-breadcrumbs="false"] {
	display: none;
}
ul.ui-breadcrumbs {
	margin: 0px;
	padding: 0px;
	position: relative;
    overflow: visible;
}
ul.ui-breadcrumbs:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
ul.ui-breadcrumbs > li {
	line-height: 1;
    margin-right: 5px;
}
ul.ui-breadcrumbs > li:after {
	content: ">";
	display: inline-block;
}
ul.ui-breadcrumbs > li:last-child:after {
	visibility: hidden;
}
ul.ui-breadcrumbs > li > a {
	text-decoration: none;
	background: none;
	padding-right: 6px;
}
/* GroupEnd */

/* GroupBegin Mod Events */
div.ui-widget.app.upcomingevents div.upcoming-column-container div.upcoming-column {
	float: left;
}
div.ui-widget.app.upcomingevents div.upcoming-column-container div.upcoming-column.left {
	text-align: center;
	width: 44px;
	height: 44px;
	margin: 0px 10px 0px 5px;
}
div.ui-widget.app.upcomingevents div.upcoming-column-container div.upcoming-column.left .ui-article-title {
	line-height: 1.2;
	letter-spacing: normal;
	padding: 8px 0px 0px 0px;
}
div.ui-widget.app.upcomingevents div.upcoming-column-container div.upcoming-column.left .ui-article-title span.joel-month {
	display: block;
	line-height: 1.2;
	letter-spacing: normal;
}
div.ui-widget.app.upcomingevents div.upcoming-column-container div.upcoming-column.right {
	text-align: left;
	width: auto;
	height: auto;
}
div.ui-widget.app.upcomingevents .sw-calendar-block-time {
	display: block;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
div.ui-widget.app.upcomingevents .sw-calendar-block-title {
	display: block;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
div.ui-widget.app.upcomingevents .ui-article-description {
	padding: 0px;
}
/* GroupEnd */

/* GroupBegin Region Colors */
[data-region="b"] a:not(.ui-page-number-current-span):not(.ui-page-number.ui-small-page) {

}

/* GroupEnd */

/* GroupBegin Homepage Specific */
#hp-content-outer {

}
#hp-content {

}
.hp-column {
	float: left;
	position: relative;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.hp-column.one {
	width: 25%;
}
.hp-column.two {
	width: 50%;
}
.hp-column.three {
	width: 25%;
}
/* GroupEnd */

/* GroupBegin Subpage Specific */
// #sw-content-layout { ONLY WHEN USING HEADER IMAGES ON SUBPAGES
// 	background-size:0 !important;
// }
#sp-content-outer {
	position: relative;
}
#sp-content {
	position: relative;
	background: #FFF;
}
.sp-column {
	float: left;
	position: relative;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sp-column.one {
	width: 25%;
	min-height: 500px;
}
.sp-column.two {
	width: 75%;
	min-height: 500px;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */
#spn-content-outer {
	position: relative;
}
#spn-content {
	min-height: 500px;
	position: relative;
	background: #FFF;
}
/* GroupEnd */

/* GroupBegin EditorStyles */
.H1_Template {
	font-size: 32px;
    font-weight: 700;
}
.H2_Template {
	font-size: 28px;
    font-weight: 700;
}
.H3_Template {
	font-size: 24px;
    font-weight: 700;
}
.H4_Template {
	font-size: 20px;
    font-weight: 700;
}
.Grey_Border_Box {
	color: #333;
    padding: 30px;
    border: solid 1px #d3d2d1;
    display: block;
    background: #FFF;
}
.Primary_Color_Box {
	color: #FFF;
    padding: 30px;
    display: block;
	background: <SWCtrl controlname="Custom" props="Name:primaryEditorStyleBgColor" />;
}
.Secondary_Color_Box {
	color: #333;
    padding: 30px;
    display: block;
	background: <SWCtrl controlname="Custom" props="Name:secondaryEditorStyleBgColor" />;
}
<SWCtrl controlname="Custom" props="Name:editorStyles" />
/* GroupEnd */

/* THESE SHOULD MATCH THE CORRESPONDING EDITOR SYTLES ABOVE*/
h1, .ui-article h1, li h1 {
	font-size: 32px;
    font-weight: 700;
}
h2, .ui-article h2, li h2 {
	font-size: 28px;
    font-weight: 700;
}
h3, .ui-article h3, li h3 {
	font-size: 24px;
    font-weight: 700;
}
h4, .ui-article h4, li h4 {
	font-size: 20px;
    font-weight: 700;
}
/* END MATCH */

.Grey_Border_Box .H1_Template,
.Grey_Border_Box .H2_Template,
.Grey_Border_Box .H3_Template,
.Grey_Border_Box .H4_Template,
.Primary_Color_Box .H1_Template,
.Primary_Color_Box .H2_Template,
.Primary_Color_Box .H3_Template,
.Primary_Color_Box .H4_Template,
.Secondary_Color_Box .H1_Template,
.Secondary_Color_Box .H2_Template,
.Secondary_Color_Box .H3_Template,
.Secondary_Color_Box .H4_Template {
	position: relative;
    display: inline-block;
}
[data-grey-border-text-color="Grey"] .Grey_Border_Box {
	color: #333;
}
[data-grey-border-text-color="Black"] .Grey_Border_Box {
	color: #000;
}
.Grey_Border_Box .H1_Template,
.Grey_Border_Box .H2_Template,
.Grey_Border_Box .H3_Template,
.Grey_Border_Box .H4_Template {
	color: <SWCtrl controlname="Custom" props="Name:greyBorderEditorStyleHeaderColor" />;
}
[data-primary-text-color="Grey"] .Primary_Color_Box {
	color: #333;
}
[data-primary-text-color="Black"] .Primary_Color_Box {
	color: #000;
}
#gb-page .Primary_Color_Box a {
	color: <SWCtrl controlname="Custom" props="Name:primaryEditorStyleLinkColor" />;
}
[data-secondary-text-color="White"] .Secondary_Color_Box {
	color: #FFF;
}
[data-secondary-text-color="Black"] .Secondary_Color_Box {
	color: #000;
}
#gb-page .Secondary_Color_Box a {
	color: <SWCtrl controlname="Custom" props="Name:secondaryEditorStyleLinkColor" />;
}
