/* GroupBegin Fonts */
/* GroupEnd */
/* GroupBegin Responsive Menu */
/* GroupEnd */
/* GroupBegin Global */
body:before {
  content: "320";
}

/* GroupEnd */
/* GroupBegin Mystart */
div#ui-mypasskey-overlay {
  max-width: 100%;
  left: auto !important;
  right: 0 !important;
}

#sw-passkey-container {
  max-width: 100%;
}

/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Channel Bar */
/* GroupEnd */
/* GroupBegin Slideshow */
/* GroupEnd */
/* GroupBegin Body */
/* GroupEnd */
/* GroupBegin Footer */
.gb-schoolwires-footer.bottom {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
}

.gb-schoolwires-footer.logo {
  margin-right: 0px;
  margin-bottom: 10px;
}

/* GroupEnd */
/* GroupBegin Global Icons */
/* GroupEnd */
/* GroupBegin Social Icons */
/* GroupEnd */
/* GroupBegin App Styles */
/* GroupEnd */
/* GroupBegin Navigation Styles */
/* GroupEnd */
/* GroupBegin Mod Events */
/* GroupEnd */
/* GroupBegin Region Colors */
/* GroupEnd */
/* GroupBegin High Contrast Colors */
/* GroupEnd */
/* GroupBegin Homepage Specific */
/* GroupEnd */
/* GroupBegin Subpage Specific */
/* GroupEnd */
/* GroupBegin Subpage No Nav Specific */
/* GroupEnd */
/*# sourceMappingURL=320.css.map */