/* GroupBegin Fonts */

/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Global */
body:before {
	content: "480";
}
/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */

/* GroupEnd */

/* GroupBegin Slideshow */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin Global Icons */

/* GroupEnd */

/* GroupBegin Social Icons */

/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Navigation Styles */

/* GroupEnd */

/* GroupBegin Mod Events */

/* GroupEnd */

/* GroupBegin Region Colors */

/* GroupEnd */

/* GroupBegin High Contrast Colors */

/* GroupEnd */

/* GroupBegin Homepage Specific */
.hp-column.one,
.hp-column.two,
.hp-column.three {
	width: auto;
	float: none;
}
/* GroupEnd */

/* GroupBegin Subpage Specific */

/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */
