/* GroupBegin Fonts */

/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Global */
body:before {
	content: "640";
}
/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */

/* GroupBegin Header */
#gb-logo-outer[data-show-mobile-logo="true"] {
	display: block;
}
#gb-logo-outer[data-show-mobile-logo="false"] {
	display: none;
}
/* GroupEnd */

/* GroupBegin Channel Bar */

/* GroupEnd */

/* GroupBegin Slideshow */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */
.gb-schoolwires-footer.links ul li:nth-child(3) {
	display: block;
}
.gb-schoolwires-footer.links ul li:nth-child(3):before {
	display: none;
}
/* GroupEnd */

/* GroupBegin Global Icons */

/* GroupEnd */

/* GroupBegin Social Icons */

/* GroupEnd */

/* GroupBegin App Styles */

/* GroupEnd */

/* GroupBegin Navigation Styles */

/* GroupEnd */

/* GroupBegin Mod Events */

/* GroupEnd */

/* GroupBegin Region Colors */

/* GroupEnd */

/* GroupBegin High Contrast Colors */

/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */

/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */
