<div id="gb-page" class="hp [$SiteAlias$]">
	<header id="gb-header">
		<div class="content-wrap">
			<div class="header-column one">
				<div id="gb-logo"></div>
				<div id="gb-sitename"></div>
			</div>
			<div class="header-column two">
				<div class="header-row one">
					<div class="cs-mystart-dropdown schools">
						<div class="cs-dropdown-selector" tabindex="0" aria-label="Schools" role="button" aria-expanded="false" aria-haspopup="true">Schools</div>
						<div id="gb-schools-wrapper" aria-hidden="true" style="display:none;"></div>
					</div>
					<div class="cs-mystart-dropdown translate">
						<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true"><span>Translate</span></div>
						<div class="cs-dropdown" aria-hidden="true" style="display:none;"></div>
					</div>
				</div>
				<div class="header-row two">
					<nav id="gb-channel-bar" title="main navigation">
						[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
					</nav>
					<div class="cs-mystart-button search">
						<div class="cs-button-selector" tabindex="0" aria-label='Open Search' role="button" aria-expanded="false" aria-haspopup="true">
							<div id="gb-search" aria-hidden="true">
								<div class="content-wrap">
									<form id="gb-search-form">
										<label for="gb-search-input">Search</label>
										<input type="text" id="gb-search-input" tabindex="-1" value="Search...">
										<button type="submit" form="gb-search-form" tabindex="-1" id="gb-search-button" aria-label="Submit Search"></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<section class="hp-row one" id="hp-slideshow-outer">
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section class="hp-row two" id="gb-icons" data-icon-num='<SWCtrl controlname="Custom" props="Name:numOfIcons" />'>
			<div class="content-wrap">
				<swctrl controlname="SkipNav" props="" />
			</div>
		</section>
		<section class="hp-row three" data-tabbed-social='<SWCtrl controlname="Custom" props="Name:useRegionCTabbedSocial" />'>
			<div class="content-wrap">
				<div class="hp-column one">
					<swctrl controlname="SkipNav" props="" />
					[$ContentRegion props="ContainerNumber:1"$]
				</div>
				<div class="hp-column two">
					[$ContentRegion props="ContainerNumber:2"$]
				</div>
			</div>
		</section>
		<section class="hp-row four">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:3"$]
			</div>
		</section>
		<section class="hp-row five">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:4"$]
			</div>
		</section>
		<section class="hp-row six">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:5"$]
			</div>
		</section>
		<section class="hp-row seven">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:6"$]
			</div>
		</section>
		<section class="hp-row eight">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:8"$]
			</div>
		</section>
		<section class="hp-row nine">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:9"$]
			</div>
		</section>
		<section class="hp-row ten">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:11"$]
			</div>
		</section>
	</main>
<!--FOOTER SECTION-->
<footer title="main footer">
	<div class="footer-tagline"><h2><SWCtrl controlname="Custom" props="Name:ftSchoolTagline" /></h2></div>
	<div class="footer-row one">
		<div class="footer-column one">
			<iframe tabindex="-1" title="Google Map" frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=[$SiteAddressOne$] [$SiteCity$] [$SiteState$] [$SiteZip$]&amp;zoom=17&amp;key=AIzaSyCpnvqQ2kYwxbdiPGLDp5h8qqTsw_iHeYE"></iframe>
		</div>
		<div class="footer-column two">
			<div class="footer-info-wrap">				
				<p><a href="https://www.google.com/maps?q=[$SiteAddressOne$],[$SiteCity$],[$SiteState$],[$SiteZip$]">[$SiteAddressOne$]<br class="footer-break"><span class="slash-footer" role="presentation">/</span> [$SiteCity$], [$SiteState$] [$SiteZip$]</a></p>
				<p class="second-p-footer"><span><span role="presentation">P </span>[$SiteContactPhone$]<br class="footer-break"><span class="slash-footer" role="presentation">/</span><span><span role="presentation">F </span>[$SiteContactFax$]</span></p>
				<ul class="social-icons"></ul>
			</div>
			<div class="footer-buttons">
				<div class="cs-mystart-dropdown site-map">
					<a class="cs-dropdown-selector sitemap" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
						<span class="sitemap">Site Map</span>
					</a>
				</div>
				<div class="cs-mystart-dropdown web-access">
					<a class="cs-dropdown-selector webaccess" href='<SWCtrl controlname="Custom" props="Name:webAccessibilityLink" />' target='<SWCtrl controlname="Custom" props="Name:webAccessibilityTarget" />'>
						<span class="web-access-button">Website Accessibility</span>
					</a>
				</div>
				<div class="cs-mystart-dropdown user-options">
					<a class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">
						<span>User Options</span>
					</a>
					<div class="cs-dropdown" aria-hidden="true" style="display:none;">
						<ul class="cs-dropdown-list"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-row two">
		<div class="ft-disclaimer" data-toggle='<SWCtrl controlname="Custom" props="Name:ftDisclaimerToggle" />'><SWCtrl controlname="Custom" props="Name:ftDisclaimer" /></div>
	</div>
</footer>
</div>