<div id="gb-page" class="sp [$SiteAlias$]">
	<header id="gb-header">
		<section class="header-row mobile"></section>
		<section class="header-row one">
			<div class="cs-mystart-button home">
				<a class="cs-button-selector" href="/">District Home</a>
			</div>
			<div class="cs-mystart-dropdown our-schools">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Our Schools' role="button" aria-expanded="false" aria-haspopup="true">Our Schools</div>
				<div id="gb-schools-wrapper" aria-hidden="true" style="display:none;"></div>
			</div>
			<div class="cs-mystart-dropdown translate">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true">Translate</div>
					<div class="cs-dropdown" aria-hidden="true" style="display:none;">
				</div>
			</div>
			<div class="cs-mystart-dropdown user-options">
				<div class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">User Options</div>
				<div class="cs-dropdown" aria-hidden="true" style="display:none;">
					<ul class="cs-dropdown-list"></ul>
				</div>
			</div>
			<div class="cs-mystart-button search">
				<div class="cs-button-selector" tabindex="0" aria-label='Open Search' role="button" aria-expanded="false" aria-haspopup="true">Search</div>
				<div id="gb-search" aria-hidden="true">
					<div class="content-wrap">
						<form id="gb-search-form">
		                    <label for="gb-search-input">Search</label>
		                    <input type="text" id="gb-search-input" tabindex="-1" value="Search...">
							<button type="submit" form="gb-search-form" tabindex="-1" id="gb-search-button" aria-label="Submit Search"></button>
		                </form>
						<button id="search-control-close" aria-label="Close Search" tabindex="-1" aria-expanded="false" aria-controls="gb-search"></button>
					</div>
                </div>
			</div>
		</section>
		<section class="header-row two">
			<div role="presentation" id="header-background-title"><SWCtrl controlname="Custom" props="Name:headerText" /></div>
			<div class="content-wrap">
				<div id="gb-logo-sitename">
					<div id="gb-logo"></div>
					<div id="gb-sitename">
						<h1>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineOneText" /></span>
							<span class="sitename"><SWCtrl controlname="Custom" props="Name:schoolNameLineTwoText" /></span>
						</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="header-row three">
			<nav id="gb-channel-bar" class="content-wrap">
				[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
			</nav>
		</section>
	</header>
	<main id="sp-content">
		<section id="sp-breadcrumbs" class="sp-row one noprint">
			<div class="content-wrap">
				[$Breadcrumb props="MaxLevels:4"$]
			</div>
		</section>
		<section class="sp-row two">
			<div class="content-wrap">
				<div class="sp-column one noprint">
					[$PageListNavigation props="DisplayHeading:Yes"$]
				</div>
				<div class="sp-column two">
					[$ContentLayoutPlaceholder$]
				</div>
			</div>
        </section>
	</main>
	<footer title="main footer">
		<div class="footer-tagline"><h2><SWCtrl controlname="Custom" props="Name:ftSchoolTagline" /></h2></div>
		<div class="footer-row one">
			<div class="footer-column one">
				<iframe tabindex="-1" title="Google Map" frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?q=[$SiteAddressOne$] [$SiteCity$] [$SiteState$] [$SiteZip$]&amp;zoom=17&amp;key=AIzaSyCpnvqQ2kYwxbdiPGLDp5h8qqTsw_iHeYE"></iframe>
			</div>
			<div class="footer-column two">
				<div class="footer-info-wrap">				
					<p><a href="https://www.google.com/maps?q=[$SiteAddressOne$],[$SiteCity$],[$SiteState$],[$SiteZip$]">[$SiteAddressOne$]<br class="footer-break"><span class="slash-footer" role="presentation">/</span> [$SiteCity$], [$SiteState$] [$SiteZip$]</a></p>
					<p class="second-p-footer"><span><span role="presentation">P </span>[$SiteContactPhone$]<br class="footer-break"><span class="slash-footer" role="presentation">/</span><span><span role="presentation">F </span>[$SiteContactFax$]</span></p>
					<ul class="social-icons"></ul>
				</div>
				<div class="footer-buttons">
					<div class="cs-mystart-dropdown site-map">
						<a class="cs-dropdown-selector sitemap" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
							<span class="sitemap">Site Map</span>
						</a>
					</div>
					<div class="cs-mystart-dropdown web-access">
						<a class="cs-dropdown-selector webaccess" href='<SWCtrl controlname="Custom" props="Name:webAccessibilityLink" />' target='<SWCtrl controlname="Custom" props="Name:webAccessibilityTarget" />'>
							<span class="web-access-button">Website Accessibility</span>
						</a>
					</div>
					<div class="cs-mystart-dropdown user-options">
						<a class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true">
                        	<span>User Options</span>
                        </a>
						<div class="cs-dropdown" aria-hidden="true" style="display:none;">
							<ul class="cs-dropdown-list"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-row two">
			<div class="ft-disclaimer" data-toggle='<SWCtrl controlname="Custom" props="Name:ftDisclaimerToggle" />'><SWCtrl controlname="Custom" props="Name:ftDisclaimer" /></div>
		</div>
	</footer>
</div>
