/* GroupBegin Default */
body:before {
  content: "320";
}

.show320 {
  display: block;
}

.hide320 {
  display: none;
}

/* GroupEnd */
/* GroupBegin Header */
/* GroupEnd */
/* GroupBegin Footer */
/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */
/*# sourceMappingURL=320.css.map */