@import "../../../utilities/css/utilities";

$accentFont: 'Sarabun', sans-serif;
$bodyFont: 'Nunito', sans-serif;
$extraFont1:'Akshar', sans-serif;
$extraFont2:'Barlow Condensed', sans-serif;
$extraFont3:'Oooh Baby', cursive;
$extraFont4:'Bebas Neue', cursive;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
.content-wrap {
	padding: 0 24px;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.rs-menu-group.quicklinks { //show extra links on 480
	display: block;
}

.nav-section.right {
	margin-left: 0;
}
.mystartbar {
	height: auto;
	 
	.content-wrap {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
	}
}
.nav-section.left {
	flex-wrap: wrap;
	width: 100%;
	margin-right: 0; 
}
.nav-section.right {
	padding-left: 0;
	//margin-left: -25px;
	margin-left: 0;
	height: 49px;

	&::before {
		clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
	}
}
.nav-group.left {
	display: none;
}
#cs-ab #ab-dropdown {
	left: auto;
	right: -50px;
}
#cs-ar {
	display: none;
}
#cs-ar-mobile {
	height: 48px;
	background: #FFDD00;
	width: 100%;
	display: flex;

	span {
		color: #221F1F;
		text-transform: uppercase;
		font-family: $extraFont2;
		font-size: 1.3125rem;

		&::after {
			color: #221F1F;
		}
	}
	#ar-dropdown,
	#ar-dropdown-mobile {
		top: 100%;
	}
}
#gb-logo img {
	max-width: 142px;
	max-height: 92px;
}
#gb-header-mobile #rs-menu-btn span {
	padding-top: 5px;
}
#gb-header .mobile-logo-flex {
	padding: 0 14px;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row {
	&.one {
		margin-top: 0;
	}
	&.two {
		padding-bottom: 0;
	}
	&.three {
		padding-top: 19px;
	}
	&.four {
		padding-top: 50px;
		padding-bottom: 28px;

		.content-wrap {
			display: block;

			&.extra-row {
				padding-top: 16px;
			}
		}
		.hp-column {
			padding-right: 0 !important;
			padding-left: 0 !important;
			padding-bottom: 25px;

			&.one {
				padding-bottom: 48px;
				width: 100%;
			}
			&.two {
				padding-top: 21px;
				width: 100%;
			}
			&.three {
				width: 100%;
				padding-top: 29px;
			}
		}
	}
	&.five {
		padding-bottom: 6px;
	}
	&.six {
		padding: 2px 0 0 0;
		--mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/11px 100%;

		&::before {
			background: linear-gradient(180deg, rgba(255, 255, 180, 0) 90%, rgba(89, 142, 246, 0.5) 100%);
		}
		.content-wrap {
			padding: 0 16px;
		}
	}
}
.hp-row.three::before, .hp-row.five::before {
	--mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/11px 100%;
}
/* MMG AREA*/
#hp-slideshow {
	.mmg-description-outer {
		padding: 23px 24px;
	}
	.mmg-description-title {
		font-size: 1rem;
	}
	.mmg-description-caption {
		font-size: 0.875rem;
		margin-top: -4px;
		margin-bottom: 6px;
	}
	.mmg-description-links {
		.mmg-description-link {
			font-size: 0.8125rem;
		}
	}
	.mmg-controls {
		width: 100%;
		right: 0;
		left: 0;
		top: -10px;
	
		.mmg-control {
			width: 27px;
			height: 27px;
	
			&::after {
				font-size: 12px;
			}
		}
}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp {
	.ui-widget.app {
		.ui-widget-header {
			&.icon {
				padding-left: 61px;
				word-break: break-word;

				&::after {
					width: 61px;
					height: 61px;
					top: -8px;
				}
			}
			
		}

	}
	[data-region=c] {
		.ui-widget.app {
			.ui-widget-header {
				h1 {
					font-size: 1.6875rem;
				}
			}
			&.upcomingevents {
				.ui-widget-header {
					padding-bottom: 18px;

					&.icon {
						padding-left: 72px; //pad for icon
	
						&::before {
							top: -8px;
							font-size: 47px;
						}
					}
				}
				.ui-widget-detail {
					margin-right: 0;

					.ui-articles  {
						li {
							margin-right: 0;
							margin-bottom: 21px;
						}
						li:nth-child(n + 2) { //HIDE MORE THAN 1
							display: none;
						}
					}
				}
			}
		}
	}
	[data-region=d] {
		.ui-widget.app {
			.ui-widget-header {
				&.icon {
					&::before {
						font-size: 38px;
    					top: -10px;
					}
					&::after {
						top: -21px;
					}
				}
				h1 {
					font-size: 1.6875rem;
				}
			}
		}
	}	
	[data-region=e] {
		.ui-widget.app {
			.ui-widget-header {
				&.icon {
					&::before {
						font-size: 30px;
						top: -4px;
						left: 22px;
					}
					&::after {
						left: 0;
						top: -21px;
					}
				}
				h1 {
					font-size: 1.6875rem;
				}
			}
		}
	}	
	[data-region=f] {
		.ui-widget.app {
			.ui-widget-header {
				&.icon {
					padding-left: 54px;
					padding-bottom: 0;

					&::before {
						font-size: 25px;
						top: -8px;
						left: 10px;
					}
					&::after {
						width: 50px;
						height: 62px;
						left: -2px;
						top: -18px;
					}
				}
				h1 {
					font-size: 1.6875rem;
					letter-spacing: -1.3px;
				}
			}
		}
	}	
	[data-region=g] {
		.ui-widget.app {
			display: block;
			
			.ui-widget-header {
				display: block;

				h1 {
					font-size: 1.6375rem;
				}
				&.icon {
					padding-top: 35px;
					padding-left: 65px;

					&::before {
						font-size: 52px;
						top: 30px;
						left: 2px;
						position: absolute;
					}
				}
			}

			.ui-widget-footer {
				.clear {
					display: none;
				}
			}
		}
	}
	[data-region=h] {
		.ui-widget.app {
			.ui-widget-footer {
				padding-top: 10px;
			}
			&.lightbox {
				.ui-widget-header {
					padding-bottom: 29px;
					padding-top: 7px;
					padding-left: 88px;
	
					&.icon {
						&::before {
							font-size: 30px;
							top: 12px;
							left: 33px;
						}
						&::after {
							left: 11px;
							top: -4px;
						}
					}
	
					h1 {
						font-size: 1.9375rem;
					}
				}
				.ui-widget-detail {
					.ui-articles {
						li {
							width: 270px !important;
							max-width: 270px !important;
							height: 270px !important;
						}
						li:nth-child(n+2) { //HIDE MORE THAN ONE
							display: none;
						}
					}

				}
			}

		}
		
	}
}
.hp [data-region=c] .ui-widget.app .more-link, 
.hp [data-region=c] .ui-widget.app .view-calendar-link, 
.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
	padding: 13px 14px 8px;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles li:nth-child(n+2) {
	display: none;
}
.hp [data-region=g] .ui-widget.app .more-link::before, .hp [data-region=g] .ui-widget.app .view-calendar-link::before, .hp [data-region=g] .ui-widget.app .div.app-level-social-rss a.ui-btn-toolbar.rs::before {
	display: none;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles .ui-article-description {
	font-size: 0.875rem;
}
.hp [data-region=g] .ui-widget.app .more-link, .hp [data-region=g] .ui-widget.app .view-calendar-link, .hp [data-region=g] .ui-widget.app .div.app-level-social-rss a.ui-btn-toolbar.rs {
	margin-top: 12px;
}
.hp [data-region=g] .ui-widget.app.headlines .ui-articles li {
	padding: 0;
}
.ui-widget.app .more-link, .ui-widget.app .view-calendar-link, .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
	font-size:  0.859375rem;
}
.hp [data-region=h] .ui-widget.app .ui-widget-header h1::before {
	display: none;
}
.hp [data-region=h] .ui-widget.app.lightbox .ui-widget-detail .ui-articles li img {
	max-width: 270px !important;
    max-height: 270px !important;
}
.hp [data-region=h] .ui-widget.app .more-link::before, .hp [data-region=h] .ui-widget.app .view-calendar-link::before, .hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss::before {
	display: none;
}
.hp [data-region=h] .ui-widget.app .more-link, .hp [data-region=h] .ui-widget.app .view-calendar-link, .hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss {
	margin-right: 0;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.ui-widget.app {
	.ui-widget-header {
		h1 {
			font-size: 1.5625rem;
		}
	}
}
/* GroupEnd */

/* GroupBegin Subpage No Nav */

/* GroupEnd */  
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### MAGIC SECTION ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#animation-graphic {
	padding-bottom: 10px; //PAD FOR ZIGZAG PATTERN

	&::before {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, rgba(89, 142, 246, 0.5) 100%);
	}
	#city-bg-mobile {
		min-height: 150px;
	}
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-footer {
	padding: 16px 0 20px;
}
.gb-footer-row {
	&.one {
		display: block;
		padding-bottom: 4px;
	}
}
.footer-address {
	.footer-info-wrap {
		padding: 0 30px 0 50px;
		padding-right: 0;
	}
	.footer-info-wrap.top {
		padding-bottom: 22px;
	}
}
.footer-address .footer-info-wrap .footer-info-header.visit::before {
	top: 13px;
	left: 3px;
}
.footer-address .footer-info-wrap .footer-info-header.contact::before {
	top: 6px;
    left: 3px;
}
.footer-link-container {
	padding-top: 0;
	padding-left: 18px;
	width: auto;

	#footer-link-list {
		column-count: 2;
		column-gap: 44px;

		li {
			&::before {
				left: -17px;
				font-size: 12px;
			}
		}
	}

}

.cs-bb-footer-outer {
	padding-right: 50px;

	.cs-bb-footer.info {
		p {
			justify-content: flex-start;
		}
	}
}
.cs-mystart-dropdown.user-options .cs-dropdown-selector {
	text-align: left;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons {
	.cs-global-icons {
		li {
			flex-basis: 33.33%;
			margin-bottom: 21px;
			.icon {
				padding: 12px 20px;
			}
			.text {
				text-align: center;
			}
		}
	}
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.gb-socials {
	.gb-social-icon {
		.gb-social-icons {
			&::before {
				font-size: 25px; //same as div size
			}
		}	
	}
	&.mobile {
		justify-content: flex-end;
	}
}
.gb-socials.region-e {
	margin-top: -6px;
	.gb-social-icon {
		width: 45px;
		height: 45px;
	}
}
/* GroupEnd */