@import "../../../utilities/css/utilities";

$accentFont: 'Sarabun', sans-serif;
$bodyFont: 'Nunito', sans-serif;
$extraFont1:'Akshar', sans-serif;
$extraFont2:'Barlow Condensed', sans-serif;
$extraFont3:'Oooh Baby', cursive;
$extraFont4:'Bebas Neue', cursive;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768 {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
/* GroupEnd */
.nav-section .cs-button-section {
	display: none;
}
.content-wrap {
	padding: 0 35px;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### HEADER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.nav-section {
	&.right {
		padding-left: 29px;
	}
	&.left {
		margin-right: 9px;
	}
	.cs-button-section {
		display: none;
	}
}
.mystartbar {
	.content-wrap {
		padding: 0;
	}
}
#gb-header-mobile {
	height: 100%; //FOR RSMENU
	padding-right: 29px; //FOR AB DAY

	#rs-menu-btn {
		display: flex;
		height: 100%;

		&::before {
			background: transparent;
			font-size: 21px;
		}

		span {
			display: flex; //FOR CENTER ALIGN
			align-content: center;
			flex-wrap: wrap; //FOR CENTERING
			font-weight: 400;
			font-family: $extraFont4;
			font-size: 1.3125rem;
			color: #fff;
			padding: 0;
		}
	}
}
#gb-header {
	.mobile-logo-flex { 
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 32px;
	}
}
.header-logo {
	min-height: auto;
	padding: 14px 0 13px 0;
	z-index: 10;
}
#cs-ar {
	position: absolute;
	bottom: -57px;
	right: 72px;
	margin-left: 0;

	.mystart-selector {
		padding: 0;

		&::before {
			width: 236px;
			height: 57px;
			left: -31px;
			top: -3px;
		}
	}
	span {
		font-size: 1.3125rem;
		margin-top: -9px;
		letter-spacing: 0.1px;
		&::after {
			padding-left: 10px;
		}
	}
	#ar-dropdown,
	#ar-dropdown-mobile {
		top: 100%;
		z-index: 5000;
	}
}
#school-list {
	top: 95%;
}
.rs-menu-group.quicklinks { //hide extra links until 480
	display: none;
}
/* GroupEnd */


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### HOMEPAGE  ### ----------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp-row {
	&.one {
		margin-top: -50px; //stuck it up for logo overlap
		.content-wrap {
			padding: 0;
		}
	}
	&.three {
		padding: 27px 0 20px;
	}
	&.four {
		padding-bottom: 57px;

		.hp-column {
			padding: 0 11px 0 0;
			&.one,
			&.two {
				width: 50%;
			}
			&.two {
				padding-right: 0px;
				padding-left: 11px;
			}
			&.three {
				padding-top: 129px;
				width: 100%;
			}
		}
		.content-wrap.extra-row {
			padding-top: 53px;
			padding-right: 18px;
		}
	}
	&.five {
		padding-bottom: 30px;
	}
} 
/* MMG AREA*/
#hp-slideshow {
	overflow: hidden;
	--mask: none;
	-webkit-mask: var(--mask);
	mask: var(--mask);
    -webkit-mask-repeat: repeat-x;

	.mmg-description-outer {
		padding: 21px 37px 5px;
		border-radius: 0;
	} 

	.mmg-description-wrapper {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		width: auto;
		max-width: none;
	}
	.mmg-description {
		display: inline-block;
		position: relative;
		width: 100%;
		max-height: 100%;
		padding: 0;
		text-align: left;
		border-radius: 4px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		opacity: 1;
	}
	.mmg-description-caption {
		margin-bottom: 12px;
	}
	.mmg-description-links {
		position: relative;
		left: auto;
		bottom: auto;
	}
	.mmg-controls {
		top: -33px;
		right: calc(12% - 41px);
		left: auto;
	}
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ----------------------- ### HP REGION APPS ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.hp  {
	[data-region=c] {
		.ui-widget.app {
			.ui-widget-header h1 {
				font-size: 2.25rem;
				margin-top: 0;
			}
			&.upcomingevents {
				.ui-widget-header {
					padding-bottom: 37px;

					&.icon {
						padding-left: 60px; //pad for icon

						&::before {
							top: 0px;
							font-size: 44px;
							left: 3px;
						}
					}
				}
				.ui-articles {
					li {
						padding: 11px 25px;
						margin: 2px 15px 9px 0px;
					}
					li:nth-child(n + 4) { //hide more than 3 list items
						display: none;
				   }
				   .upcoming-column.right {
					padding-top: 15px;
				   }
				}
			} 
			.more-link,
			.view-calendar-link,
			div.app-level-social-rss a.ui-btn-toolbar.rss {
				margin-right: 0;

				&::before {
					display: none;
				}
			}
		} 
	}
	
	[data-region=d] {
		.ui-widget.app {
			.ui-widget-header {
				h1 {
					margin-top: -4px;
					padding-bottom: 8px;
				}
				&.icon {
					padding-left: 74px;

					&::before {
						font-size: 38px;
						left: 9px;
						top: -5px;
					}
					&::after {
						width: 61px;
						height: 61px;
						top: -15px;
						left: 1px;
					}
				}
			} 
		} 
	}
	
	[data-region=e] {
		.ui-widget.app {
			.ui-widget-header {
				h1 {
					margin-top: -4px;
					padding-bottom: 8px;
				}
				&.icon {
					padding-left: 72px;
					padding-bottom: 11px;

					&::before {
						font-size: 30px;
						left: 15px;
						top: -1px;
					}
					&::after {
						width: 61px;
						height: 61px;
						top: -15px;
						left: -7px;
					}
				}
			} 
		} 
	}

	[data-region=f] {
		.ui-widget.app {
			.ui-widget-header {

				h1 {
					margin-top: -4px;
					padding-bottom: 8px;
				}
				&.icon {
					padding-left: 75px;
					padding-bottom: 11px;

					&::before {
						left: 15px;
						top: -2px;
						font-size: 30px;
					}
					&::after {
						width: 61px;
						height: 74px;
						left: -1px;
						top: -14px;
					}
				}
			} 
		} 
	}

	[data-region=g] {
		.ui-widget.app {
			align-items:  flex-start;

			.ui-widget-header {
				margin-top: 0;
				padding-top: 38px;

				&.icon {
					&::before {
						font-size: 80px;
						top: -10px;
						left: 8px;
					}
				}

				h1 {
					font-size: 1.9375rem;
					line-height: 40px;
					margin-top: 9px;
				}
			}
			.more-link,
			.view-calendar-link,
			div.app-level-social-rss a.ui-btn-toolbar.rss {
				margin-right: 0;
				padding: 13px 17px;
			}

			&.headlines {
				.ui-widget-header {
					flex-basis: 36%;
					padding-right: 3px;
				}
				.ui-widget-detail {
					flex-basis: 54%;
					flex-grow: 1;
				}
				.ui-article-thumb .img img {
					max-width: none;
					max-height: none;
				}
				.ui-article {
					height: auto;
					background-image: none !important;
					display: flex;
					flex-direction: column;
				
					.headline-description {
						position: relative;
						opacity: 1;
						background-color: transparent;
						text-align: left;
						padding: 0;
					}
					.headline-description > div {
						opacity: 1;
						top: auto;
					}
				}
				.ui-articles {
					flex-direction: column;
					li:nth-child(n + 3) { //HIDE MORE THAN 2
						display: none;
					}
					.ui-article-thumb {
						display: block !important;
					}
					.ui-article-description {
						color: #000;
					}
				}
			}
		} 
	}
	[data-region=h] {
		.ui-widget.app {
			.ui-widget-header {
				padding-bottom: 28px;
				padding-left: 77px;

				h1 {
					font-size: 1.9375rem;
					&::before {
						right: -27px;
						width: 27px;
						height: 27px;
						top: -6px;
					}
				}
				.more-link,
				.view-calendar-link,
				div.app-level-social-rss a.ui-btn-toolbar.rss {
					margin-right: 0;
					padding: 13px 17px;
	
					&::before {
						display: none;
					}
				}
			}
			&.lightbox {
				.ui-widget-header {
					&.icon {
						&::before {
							top: 9px;
							left: 21px;
							font-size: 32px;
						}
						&::after {
							width: 61px;
							height: 61px;
							top: -6px;
						}
					}
				}
				.ui-widget-detail {
					.ui-articles {
						margin: 0 !important;
						justify-content: space-between !important;
	
						li {
							flex-basis: 33.33%;
						}
	
						li:nth-child(n + 4) { //HIDE MORE THAN 3
							display: none;
						}
					}
	
				}
			}
		}
	}
}
.hp [data-region=g] .ui-widget.app.headlines .ui-widget-detail .ui-articles .ui-article .ui-article-title a {
	color: #014F7F;
}
/* GroupEnd */

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GENERAL APPS ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.ui-widget.app {
	.ui-widget-header h1 {
		font-size: 1.9375rem;
		letter-spacing: 0.1px;
	}
	.more-link,
	.view-calendar-link,
	div.app-level-social-rss a.ui-btn-toolbar.rss {
		padding: 13px 13px 12px;
	}
} 

/* GroupEnd */
/* GroupBegin Subpage */
#sp-content {
	display: block;
}

.sp-column.one,
.sp-column.two {
	min-height: 0px;
	float: none;
	width: 100%;
	padding: 0;
}

.sp-column.one .ui-widget.app div.ui-widget-header {
	padding: 15px 20px;
	background: #F7F7F7;
	border: solid 1px #cccccc;
	border-radius: 4px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1 {
	position: relative;
	padding-right: 25px;
}

.sp-column.one .ui-widget.app div.ui-widget-header h1:before {
	content: "\e910";
	font-family: "-icons";
	font-size: 1.125rem;
	color: #000;
	display: block;
	position: absolute;
	top: calc(50% - 9px);
	right: 0;
}

.sp-column.one .ui-widget.app.open > div.ui-widget-header h1:before {
	content: '\e90f';
	transform: rotate(90deg);
}

.sp-column.one .ui-widget.app div.ui-widget-detail {
	padding-bottom: 35px;
}

.sp-column.two {
	width: calc(100% + 42px);
	margin-left: -42px;
	padding-top: 35px;
}
/* GroupEnd */

/* GroupBegin Subpage No Nav */
#spn-content {
	min-height: 0px;
}
/* GroupEnd */  
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### MAGIC SECTION ### ------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.mg-header {
	padding-top: 12px;
	padding-bottom: 16px;

	.mg-head-1 {
	   font-size: 7.6875rem;
	   margin-right: 21px;
	   margin-left: 11px;
   }
   .mg-header-icon {
		max-width: 140px;
		max-height: 127px;
		right: auto;
		left: 350px;
	}	
   .mg-head-2 {
		font-size: 1.875rem;
		top: 60px;
		left: 460px;
		right: auto;
   }
}
#magic-mobile {
	margin-left: 5px;
	margin-bottom: -9px;

	.mg-title-mobile {
		position: relative;
		padding-bottom: 10px;

		h2 {
			font-family: $bodyFont;
			font-weight: 400;
			font-size: 3.5625rem;
			color: #4666A9;
		}

		&::before {
			@include pseudo-background();
			background: #FFDD00;
			height: 5px;
			width: 570px;
			top: auto;
			bottom: 0;
		}
	}
	.mg-description-mobile {
		margin-top: -12px;

		p {
			font-family: $bodyFont;
			font-weight: 400;
			font-size: 1.75rem;
			color: #000;
		}
	}
}
#animation-graphic {
	padding-top: 0;
	padding-bottom: 5px; //PAD FOR ZIGZAG PATTERN

	&::before {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(89, 142, 246, 0.5) 100%);
	}
	&::after {
		height: 17px;
		bottom: -13px;
	}
	#city-bg-mobile {
		min-height: 230px;
	}
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------- ### FOOTER ### ------------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
.gb-footer-row {
	&.one {
		padding-bottom: 0px;

		&::before {
			display: none;
		}
	}
}
.gb-logo-footer {
	display: none;
}
.footer-address {
	padding: 0;
	flex-direction: column;

	.footer-info-wrap {
		padding: 0px 23px 0 49px;

		.footer-info-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;


			p {
				flex-grow: 1;
				font-size: 1.125rem;
    			margin: -1px 15px 15px 0px;
			}
		}
	}
	.footer-info-wrap.top {
		padding-bottom: 36px;
		padding-top: 4px;
	}
}
.footer-link-container {
	padding-left: 30px;
    width: 153px;

	#footer-link-list {
		column-count: auto;
		column-gap: 0;
	}
}
#disclaimer-row {
	justify-content: space-between;
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### GB ICONS ### ------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#gb-icons {

	.cs-global-icons {
		justify-content: flex-start;

		li {
			flex-basis: 20%; //5 a row
			margin-bottom: 13px;

			.icon {
				padding: 23px 30px 10px;
			}
		}
	}
}
/* GroupEnd */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------ ### SOCIAL MEDIA ### -------------------------- */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.gb-socials { //ul

	&.mobile { //GB-LOGOS 
		display: flex;
		justify-content: space-between;
		flex: 1 1;
		flex-wrap: wrap;
		padding-left: 11px;
	}
}

/* GroupEnd */

/* UNDO SCROLL ANIMATIONS */
	//
	#gb-icons,
	.hp [data-region=c] .ui-widget.app .ui-widget-header h1,
	.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-header.icon::before,
	.hp [data-region=c] .ui-widget.app .more-link, 
	.hp [data-region=c] .ui-widget.app .view-calendar-link, 
	.hp [data-region=c] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
	.hp [data-region=c] .ui-widget.app.upcomingevents .ui-widget-detail,
	.hp [data-region=d] .ui-widget.app .ui-widget-header h1, 
	.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::before, 
	.hp [data-region=d] .ui-widget.app .ui-widget-header.icon::after, 
	.hp [data-region=e] .ui-widget.app .ui-widget-header h1, 
	.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::before,
	.hp [data-region=e] .ui-widget.app .ui-widget-header.icon::after,
	.hp [data-region=f] .ui-widget.app .ui-widget-header h1,  
	.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::before,
	.hp [data-region=f] .ui-widget.app .ui-widget-header.icon::after,
	.hp [data-region=d] .ui-widget.app .ui-widget-detail,
	.hp [data-region=e] .ui-widget.app .ui-widget-detail,
	.hp [data-region=f] .ui-widget.app .ui-widget-detail,
	.hp [data-region=d] .ui-widget.app .more-link, 
	.hp [data-region=d] .ui-widget.app .view-calendar-link, 
	.hp [data-region=d] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
	.hp [data-region=e] .ui-widget.app .more-link, 
	.hp [data-region=e] .ui-widget.app .view-calendar-link, 
	.hp [data-region=e] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
	.hp [data-region=f] .ui-widget.app .more-link, 
	.hp [data-region=f] .ui-widget.app .view-calendar-link, 
	.hp [data-region=f] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
	.hp [data-region=g] .ui-widget.app .ui-widget-header h1,
	.hp [data-region=g] .ui-widget.app .ui-widget-header.icon,
	.hp [data-region=g] .ui-widget.app.headlines .ui-widget-detail,
	.hp [data-region=h] .ui-widget.app .ui-widget-header.icon::before, 
	.hp [data-region=h] .ui-widget.app .ui-widget-header.icon::after, 
	.hp [data-region=h] .ui-widget.app .ui-widget-header h1,
	.hp [data-region=h] .ui-widget.app .ui-widget-header h1::before,
	.hp [data-region=h] .ui-widget.app .more-link, 
	.hp [data-region=h] .ui-widget.app .view-calendar-link, 
	.hp [data-region=h] .ui-widget.app div.app-level-social-rss a.ui-btn-toolbar.rss,
	.hp [data-region=h] .ui-widget.app .ui-widget-detail,
	.mg-header .mg-head-1,
	.mg-header-icon-1024 .mg-wand-icon,
	.mg-header-icon-1024 .mg-star.i1,
	.mg-header-icon-1024 .mg-star.i2,
	.mg-header-icon-1024 .mg-star.i3,
	.mg-header-icon-1024 .mg-star.i4,
	.mg-header-icon-1024 .mg-star.i5   {
		visibility: visible;
	}

/* SCROLL END */